<div class="landing-picture">


  <div class="row">
    <div class="span6  offset3">
      <div class="hero-unit">
        <%= image_tag "logo.png", :width => "500px", :class => "logo" %>
        <p>Learn anything, anywhere.</p>
  <%# if user_signed_in? %>
  <%# else %>
        <ul>
          <li><%= link_to "Register", "#", :class => "btn btn-warning" %></li>
          <li><%= link_to "Sign in with facebook", "#", :class => "btn btn-primary" %></li>
        </ul>
    <%# end %>
      </div>
    </div>
  </div>

</div>

  <div class="main-actions span3 offset2" id="one">
    <%= link_to "Teach a course", new_course_path, :class => "btn btn-primary btn-large" %>
  </div>

  <div class="main-actions span3 offset2" id ="two">
    <%= link_to "Find a course", courses_path, :class => "btn btn-warning btn-large" %>
  </div>

<div class="container content-box">
  <div class="span12" id="title-box"><h4>Browse Classes</h4></div>
  <div class="span3" id="subject-box">
    <h4>GMAT math prep</h4>
    <p>The GMAT consists of four main sections—Analytical Writing Assessment, Integrated Reasoning, Quantitative, and Verbal. You have three and a half hours in which to take the exam, but plan for a total time of approximately four hours to include optional breaks. </p>
  </div>
  <div class="span3" id="subject-box">
    <h4>Conversational French</h4>
    <p>People often wonder how many French speakers there are, but a definitive answer is not easy to find. In 1999, French was the 11th most common first language in the world, with 77 million first language speakers and another 51 million second language speakers, according to the Ethnologue Report. (1) French is the second most commonly-taught second language in the world (after English).</p>
  </div>
  <div class="span3" id="subject-box">
    <h4>Typing 101 </h4>
    <p>The basic technique stands in contrast to hunt and peck typing as the typist keeps their eyes on the source copy at all times. Touch typing also involves the use of the home row method, where typists keep their wrists up, rather than resting them on a desk or keyboard as this can cause carpal tunnel syndrome. </p>
  </div>
  <div class="span3" id="subject-box">
    <h4>Calculus II</h4>
    <p>Calculus (Latin, calculus, a small stone used for counting) is a branch of mathematics focused on limits, functions, derivatives, integrals, and infinite series. This subject constitutes a major part of modern mathematics education. Calculus is the study of change, in the same way that geometry is the study of shape and algebra is the study of operations and their application to solving equations. </p>
  </div>
</div>

<div class="container content-box" id="classes">
  <div id="sub-title-box">
    <h4 class="span4">Whats happening this week?</h4>
  </div></br><br>
  <div class="span3" id="course-box">
    <%= image_tag 'https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcTfz4bKh_Sz5r2yEDkrj4kwc9mntxb463I0sSbglRbjbFK9IDOaVw', :size => '100' %>
    <p>Cooking 101: Learn the basics</p>
  </div>
  <div class="span3 offset1" id="course-box">
    <%= image_tag 'https://encrypted-tbn3.google.com/images?q=tbn:ANd9GcTe7CroungmiGi42wxedSU7WjB9_LJV_hdFBm4dEikrgoeOFSM00w', :size => '100' %>
    <p>All about data stores, mySQL, MongoDB, Postgres</p>
  </div>
  <div class="span3 offset1 " id="course-box">
    <%= image_tag 'https://encrypted-tbn2.google.com/images?q=tbn:ANd9GcQHXWJ0wR3qCZtDE4-DXGL-Z1DoXKp-j-AS9e-cF_a_gEKJO3AFnA', :size => '100' %>
    <p>Web design for beginners</p>
  </div>
</div>


</div>

